polkit.addRule(function(action, subject) {
    if (action.id == "org.calamares.calamares" || 
        action.id == "org.freedesktop.policykit.exec") {
        return polkit.Result.YES;
    }
});
