[Desktop Entry]
Type=Application
Version=1.0
Name=Install Khaymos Linux
Comment=Start Calamares Installer
Exec=sudo -E calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=System;
